{% load static %}
{% load jformat %}



<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Artin Akbarpour | آرتین اکبرپور</title>

<!-- STYLES -->
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/dark.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/rtl.css' %}" />
    <link rel="shortcut icon" href="{{ persons.img.url }}" type="image/x-icon">
<!--<link rel="stylesheet" type="text/css" href="css/dark.css" />-->
<!--[if lt IE 9]> <script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script> <![endif]-->
<!-- /STYLES -->

</head>

<body class="dark"> 
	
	<!-- PRELOADER -->
	<div id="preloader">
		<div class="loader_line"></div>
	</div>
	<!-- /PRELOADER -->
	
<!-- WRAPPER ALL -->
<div class="iknow_tm_all_wrap" data-magic-cursor="show"> <!-- If you want disable magic cursor change value to "hide" -->	
	
	<!-- MODALBOX -->
	<div class="iknow_tm_modalbox">
		<div class="box_inner">
			<div class="close">
				<a href="#"><img class="svg" src="{% static 'img/svg/cancel.svg' %}" alt="" /></a>
			</div>
			<div class="description_wrap"></div>
		</div>
	</div>
	<!-- /MODALBOX -->
		
	<!-- TOPBAR -->
	<div class="iknow_tm_topbar">
		<div class="container">
			<div class="topbar_inner">
				<div class="logo">
					<a href="#"><img src="{% static 'img/logo/light.png' %}" alt="" /></a>
				</div>
				<div class="right">
					<div class="social">
						<ul>
							<li><a href="{{ persons.instagram }}"><img class="svg" src="{% static 'img/svg/social/facebook.svg' %}" alt="" /></a></li>
							<li><a href="{{ persons.instagram }}"><img class="svg" src="{% static 'img/svg/social/twitter.svg' %}" alt="" /></a></li>
							<li><a href="{{ persons.instagram }}"><img class="svg" src="{% static 'img/svg/social/youtube.svg' %}" alt="" /></a></li>
							<li><a href="{{ persons.instagram }}"><img class="svg" src="{% static 'img/svg/social/instagram.svg' %}" alt="" /></a></li>
						</ul>
					</div>
					<div class="iknow_tm_button">
						<a href="{{ persons.resume.url }}" download>دانلود رزومه</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /TOPBAR -->
	
	<!-- HERO -->
	<div class="iknow_tm_hero">
		<div class="background_shape"></div>
		<div class="hero_content">
			<div class="container">
				<div class="content_inner">
					<div class="main_info">
						<div class="left">
							<span class="subtitle">من</span>
							<h3 class="name">{{ persons.name }}</h3>
							<p class="text">  {{ persons.job }}  هستم</p>
						</div>
						<div class="right">
							<div class="image">
								<img src="{% static 'img/thumbs/47-60.jpg' %}" alt="" />
								<div class="main" data-img-url="{{ persons.img.url }}"></div>
							</div>
						</div>
					</div>
					<div class="main_menu">
						<ul>
							<li>
								<img class="svg" src="{% static 'img/svg/archive.svg' %}" alt="" />
								<span>درباره من</span>
								<a class="iknow_tm_full_link" href="#about"></a>
							</li>
							<li>
								<img class="svg" src="{% static 'img/svg/contacs.svg' %}" alt="" />
								<span>رزومه</span>
								<a class="iknow_tm_full_link" href="#resume"></a>
							</li>
							<li>
								<img class="svg" src="{% static 'img/svg/briefcase.svg' %}" alt="" />
								<span>نمونه‌کار</span>
								<a class="iknow_tm_full_link" href="#portfolio"></a>
							</li>
							<li>
								<img class="svg" src="{% static 'img/svg/gear.svg' %}" alt="" />
								<span>خدمات</span>
								<a class="iknow_tm_full_link" href="#service"></a>
							</li>
							<li>
								<img class="svg" src="{% static 'img/svg/message.svg' %}" alt="" />
								<span>صدای مشتری</span>
								<a class="iknow_tm_full_link" href="#testimonials"></a>
							</li>
							<li>
								<img class="svg" src="{% static 'img/svg/writing.svg' %}" alt="" />
								<span>وبلاگ</span>
								<a class="iknow_tm_full_link" href="#news"></a>
							</li>
							<li>
								<img class="svg" src="{% static 'img/svg/letter.svg' %}" alt="" />
								<span>تماس</span>
								<a class="iknow_tm_full_link" href="#contact"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Hero Shapes -->
		<div class="simple_shapes">
			<span class="one anim_scale"><img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt="" /></span>
			<span class="two anim_moveLeft"><img class="svg" src="{% static 'img/svg/shapes/dot.svg' %}" alt="" /></span>
			<span class="three anim_moveTop"><img class="svg" src="{% static 'img/svg/shapes/dot-2.svg' %}" alt="" /></span>
			<span class="four anim_circle"><img class="svg" src="{% static 'img/svg/shapes/1.svg' %}" alt="" /></span>
			<span class="five anim_circle"><img class="svg" src="{% static 'img/svg/shapes/8.svg' %}" alt="" /></span>
			<span class="six anim_circle"><img class="svg" src="{% static 'img/svg/shapes/3.svg' %}" alt="" /></span>
			<span class="seven anim_right"><img class="svg" src="{% static 'img/svg/shapes/4.svg' %}" alt="" /></span>
			<span class="eight anim_scale"><img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt="" /></span>
			<span class="nine anim_circle"><img class="svg" src="{% static 'img/svg/shapes/3.svg' %}" alt="" /></span>
			<span class="ten anim_moveLeft"><img class="svg" src="{% static 'img/svg/shapes/4.svg' %}" alt="" /></span>
			<span class="eleven anim_scale"><img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt="" /></span>
			<span class="twelve anim_extra"><img class="svg" src="{% static 'img/svg/shapes/2.svg' %}" alt="" /></span>
			<span class="thirteen anim_circle"><img class="svg" src="{% static 'img/svg/shapes/5.svg' %}" alt="" /></span>
			<span class="fourteen anim_scale"><img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt="" /></span>
			<span class="fifteen anim_circle"><img class="svg" src="{% static 'img/svg/shapes/3.svg' %}" alt="" /></span>
			<span class="sixteen anim_scale"><img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt="" /></span>
			<span class="seventeen anim_circle"><img class="svg" src="{% static 'img/svg/shapes/5.svg' %}" alt="" /></span>
			<span class="eighteen anim_scale"><img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt="" /></span>
			<span class="nineteen anim_scale"><img class="svg" src="{% static 'img/svg/shapes/9.svg' %}" alt="" /></span>
			<span class="twenty anim_circle"><img class="svg" src="{% static 'img/svg/shapes/1.svg' %}" alt="" /></span>
		</div>
		<!-- /Hero Shapes -->
		
	</div>
	<!-- /HERO -->
	
	<!-- MAINPART -->
	<div class="container">
		<div class="iknow_tm_mainpart">
	
			<!-- ABOUT -->
			<div id="about" class="iknow_tm_main_section">
				<div class="iknow_tm_about">
					<div class="left">
						<div class="left_inner">
							<div class="image">
								<img src="{% static 'img/thumbs/35-44.jpg' %}" alt="" />
								<div class="main" data-img-url="{{ persons.img.url }}"></div>
							</div>
							<div class="details">
								<ul>
									<li>
										<h3>نام</h3>
										<span>{{ persons.name }}</span>
									</li>
									<li>
										<h3>تولد</h3>
										<span> {{ persons.birth_date|jformat:"%d %B %Y" }}</span>
									</li>
									<li>
										<h3>ایمیل</h3>
										<span>{{ persons.email }}</span>
									</li>
									<li>
										<h3>تلفن</h3>
										<span>{{ persons.phone }}</span>
									</li>
									<li>
										<h3>آدرس</h3>
										<span>{{ persons.address }}</span>
									</li>
									<li>
										<h3>ملیت</h3>
										<span>{{ persons.Nationality }}</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="right">
						<div class="iknow_tm_main_title">
							<span>درباره من</span>
							<h3>{{ persons.job}}</h3>
						</div>
						<div class="bigger_text">
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
						</div>
						<div class="text">
							<p>سلام! اسم من {{ persons.name}} است. من {{ persons.job }} هستم و بسیار مشتاق و متعهد به کارم هستم. با {{ persons.experience }} تجربه به عنوان یک طراح گرافیک حرفه ای، مهارت ها و دانش لازم برای موفقیت پروژه شما را به دست آورده ام.</p>
						</div>
						<div class="iknow_tm_button">
							<a href="{{ persons.resume.url }}" download>دانلود رزومه</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /ABOUT -->
			
			<!-- RESUME -->
			<div id="resume" class="iknow_tm_main_section">
				<div class="iknow_tm_resume">
					<div class="iknow_tm_main_title">
						<span>رزومه</span>
						<h3>ترکیبی از مهارت و تجربه</h3>
					</div>
					<div class="resume_inner">
						<div class="left">
							<div class="info_list">
								<div class="iknow_tm_resume_title">
									<h3>تحصیلات</h3>
									<span class="shape"></span>
								</div>
								<ul>
                                    {% for ed in educations %}
									<li>
										<div class="list_inner">
											<div class="short">
												<div class="job">
													<h3>{{ ed.field }}</h3>
													<span>{{ ed.university }}</span>
												</div>
												<div class="year">
													<span>{{ ed.time }}</span>
												</div>
											</div>
											<div class="text">
												<p>{{ ed.body }}</p>
											</div>
										</div>
									</li>
                                    {% endfor %}
								</ul>
							</div>
							<div class="info_list">
								<div class="iknow_tm_resume_title">
									<h3>تجربه</h3>
									<span class="shape"></span>
								</div>
								<ul>
                                    {% for ex in experiences %}
									<li>
										<div class="list_inner">
											<div class="short">
												<div class="job">
													<h3>{{ ex.field }}</h3>
													<span>{{ ex.company }}</span>
												</div>
												<div class="year">
													<span>{{ ex.time }}</span>
												</div>
											</div>
											<div class="text">
												<p>{{ ex.body }}</p>
											</div>
										</div>
									</li>
                                    {% endfor %}
								</ul>
							</div>
						</div>
						<div class="right">
							<div class="skills_list">
								<div class="iknow_tm_resume_title">
									<h3>مهارت های شخصی</h3>
									<span class="shape"></span>
								</div>
								<div class="personal">
									<div class="dodo_progress">
                                        {% for sk in skills %}
										<div class="progress_inner" data-value="{{ sk.percentage }}">
											<span><span class="label">{{ sk.name }}</span><span class="number">{{ sk.percentage }}%</span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
                                        {% endfor %}
									</div>
								</div>
							</div>
							<div class="skills_list">
								<div class="iknow_tm_resume_title">
									<h3>مهارت های نرم افزار</h3>
									<span class="shape"></span>
								</div>
								<div class="software">
									<div class="circular_progress_bar">
										<ul>
                                            {% for So in software_skills %}
											<li>
												<div class="list_inner">
													<div class="myCircle" data-value="0.{{ So.percentage }}"></div>
													<div class="title"><h3>{{ So.name }}</h3></div>
												</div>
											</li>
                                            {% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /RESUME -->
			
			<!-- PORTFOLIO -->
			<div id="portfolio" class="iknow_tm_main_section">
				<div class="iknow_tm_portfolio">
					<div class="iknow_tm_main_title">
						<span>رزومه</span>
						<h3>کارهای من که برای مشتریان انجام دادم</h3>
					</div>
					<div class="portfolio_filter">
						<ul>
							<li><a href="#" class="current" data-filter="*">همه</a></li>
							<li><a href="#" data-filter=".vimeo">ویمئو</a></li>
							<li><a href="#" data-filter=".youtube">یوتیوب</a></li>
							<li><a href="#" data-filter=".soundcloud">ساوندکلود</a></li>
							<li><a href="#" data-filter=".detail">جزئیات</a></li>
						</ul>
					</div>
					<div class="portfolio_list">
						<ul class="gallery_zoom">
							<li class="vimeo">
								<div class="list_inner">
									<div class="image">
										<img src="{% static 'img/thumbs/1-1.jpg' %}" alt="" />
										<div class="main" data-img-url="{% static 'img/portfolio/1.jpg' %}"></div>
									</div>
									<div class="overlay"></div>
									<img class="svg" src="{% static 'img/svg/social/vimeo.svg' %}" alt="" />
									<div class="details">
										<span>ویمئو</span>
										<h3>صوتی</h3>
									</div>
									<a class="iknow_tm_full_link popup-vimeo" href="https://vimeo.com/337293658"></a>
								</div>
							</li>
							<li class="youtube">
								<div class="list_inner">
									<div class="image">
										<img src="{% static 'img/thumbs/1-1.jpg' %}" alt="" />
										<div class="main" data-img-url="{% static 'img/portfolio/2.jpg' %}"></div>
									</div>
									<div class="overlay"></div>
									<img class="svg" src="{% static 'img/svg/social/youtube-2.svg' %}" alt="" />
									<div class="details">
										<span>یوتیوب</span>
										<h3>ویدئو</h3>
									</div>
									<a class="iknow_tm_full_link popup-youtube" href="https://www.youtube.com/watch?v=7e90gBu4pas"></a>
								</div>
							</li>
							<li class="soundcloud">
								<div class="list_inner">
									<div class="image">
										<img src="{% static 'img/thumbs/1-1.jpg' %}" alt="" />
										<div class="main" data-img-url="{% static 'img/portfolio/3.jpg' %}"></div>
									</div>
									<div class="overlay"></div>
									<img class="svg" src="{% static 'img/svg/social/soundcloud.svg' %}" alt="" />
									<div class="details">
										<span>ساوندکلود</span>
										<h3>لورم ایپسوم</h3>
									</div>
									<a class="iknow_tm_full_link soundcloude_link mfp-iframe audio" href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/471954807&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></a>
								</div>
							</li>
							<li class="youtube">
								<div class="list_inner">
									<div class="image">
										<img src="{% static 'img/thumbs/1-1.jpg' %}" alt="" />
										<div class="main" data-img-url="{% static 'img/portfolio/6.jpg' %}"></div>
									</div>
									<div class="overlay"></div>
									<img class="svg" src="{% static 'img/svg/social/youtube-2.svg' %}" alt="" />
									<div class="details">
										<span>یوتیوب</span>
										<h3>ماشین مدل</h3>
									</div>
									<a class="iknow_tm_full_link popup-youtube" href="https://www.youtube.com/watch?v=l-epKcOA7RQ"></a>
								</div>
							</li>
							<li class="vimeo">
								<div class="list_inner">
									<div class="image">
										<img src="{% static 'img/thumbs/1-1.jpg' %}" alt="" />
										<div class="main" data-img-url="{% static 'img/portfolio/7.jpg' %}"></div>
									</div>
									<div class="overlay"></div>
									<img class="svg" src="{% static 'img/svg/social/vimeo.svg' %}" alt="" />
									<div class="details">
										<span>ویمئو</span>
										<h3>ساعت هوشمند</h3>
									</div>
									<a class="iknow_tm_full_link popup-vimeo" href="https://vimeo.com/337292310"></a>
								</div>
							</li>
							<li class="detail">
								<div class="list_inner">
									<div class="image">
										<img src="{% static 'img/thumbs/1-1.jpg' %}" alt="" />
										<div class="main" data-img-url="{% static 'img/portfolio/8.jpg' %}"></div>
									</div>
									<div class="overlay"></div>
									<img class="svg" src="{% static 'img/svg/text.svg' %}" alt="" />
									<div class="details">
										<span>جزئیات</span>
										<h3>ترزا ملبیگ</h3>
									</div>
									<a class="iknow_tm_full_link portfolio_popup" href="#"></a>
									
									<div class="hidden_content">
										<div class="popup_details">
											<div class="main_details">
												<div class="textbox">
													<p>ما در دنیایی زندگی می کنیم که باید به سرعت حرکت کنیم و ایده های خود را تا حد امکان انعطاف پذیر تکرار کنیم. ماکت‌های ساختمانی تعادل ایده‌آل را در سهولت اصلاح ایجاد می‌کنند.</p>
													<p>ماکت‌ها هم برای مرحله خلاقانه پروژه مفید هستند - برای مثال زمانی که سعی می‌کنید جریان کاربر یا سلسله مراتب بصری مناسب را بفهمید - و هم برای مرحله تولید که محصول هدف را نشان می‌دهند.</p>
												</div>
												<div class="detailbox">
													<ul>
														<li>
															<span class="first">مشتری</span>
															<span>آلوارو موراتا</span>
														</li>
														<li>
															<span class="first">دسته بندی</span>
															<span><a href="#">جزئیات</a></span>
														</li>
														<li>
															<span class="first">تاریخ</span>
															<span>2 دی 1400</span>
														</li>
														<li>
															<span class="first">اشتراک</span>
															<ul class="share">
																<li><a href="#"><img class="svg" src="{% static 'img/svg/social/facebook.svg' %}" alt="" /></a></li>
																<li><a href="#"><img class="svg" src="{% static 'img/svg/social/twitter.svg' %}" alt="" /></a></li>
																<li><a href="#"><img class="svg" src="{% static 'img/svg/social/instagram.svg' %}" alt="" /></a>
																</li>
															</ul>
														</li>
													</ul>
												</div>
											</div>
											<div class="additional_images">
												<ul>
													<li>
														<div class="list_inner">
															<div class="my_image">
																<img src="{% static 'img/thumbs/4-2.jpg' %}" alt="" />
																<div class="main" data-img-url="{% static 'img/portfolio/1.jpg' %}"></div>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="my_image">
																<img src="{% static 'img/thumbs/4-2.jpg' %}" alt="" />
																<div class="main" data-img-url="{% static 'img/portfolio/2.jpg' %}"></div>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="my_image">
																<img src="{% static 'img/thumbs/4-2.jpg' %}" alt="" />
																<div class="main" data-img-url="{% static 'img/portfolio/3.jpg' %}"></div>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /PORTFOLIO -->
			
			<!-- SERVICES -->
			<div id="service" class="iknow_tm_main_section">
				<div class="iknow_tm_services">
					<div class="iknow_tm_main_title">
						<span>خدمات</span>
						<h3>هرگز با کیفیت سازش نکنید</h3>
					</div>
					<div class="service_list">
						<ul>
                            {% for se in services %}
							<li>
								<div class="list_inner">
									<span class="icon"><img class="svg" src="{% static 'img/svg/squares.svg' %}" alt="" /></span>
									<h3 class="title">وایرفریمینگ</h3>
									<p class="text">توسعه وب، ساخت و نگهداری وب سایت ها است. این کار است که ...</p>
									<a class="iknow_tm_full_link" href="#"></a>
									<div class="hidden_content">
										<div class="service_informations">
											<div class="image">
												<img src="{% static 'img/thumbs/4-2.jpg' %}" alt="" />
												<div class="main" data-img-url="{% static 'img/service/1.jpg' %}"></div>
											</div>
											<div class="description">
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
											</div>
										</div>
									</div>
								</div>
							</li>
                            {% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<!-- /SERVICES -->
			
			<!-- TESTIMONIALS -->
			<div id="testimonials" class="iknow_tm_main_section">
				<div class="iknow_tm_testimonials">
					<div class="iknow_tm_main_title">
						<span>نظر مشتری</span>
						<h3>آنچه مردم در مورد من می گویند</h3>
					</div>
					<div class="testimonials_list owl-carousel owl-theme">
                        {% for cu in customers %}
						<div class="list_inner">
							<div class="in">
								<div class="text">
									<p>{{ cu.body }}</p>
								</div>
								<div class="details">
									<div class="left">
										<div class="avatar">
											<div class="main" data-img-url="{{ cu.img.url }}"></div>
										</div>
										<div class="info">
											<h3>{{ cu.name }}</h3>
											<span>{{ cu.job }}</span>
										</div>
									</div>
									<div class="right">
										<img class="svg" src="{% static 'img/svg/left-quote.svg' %}" alt="" />
									</div>
								</div>
							</div>
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>
			<!-- /TESTIMONIALS -->
			
			<!-- NEWS -->
			<div id="news" class="iknow_tm_main_section">
				<div class="iknow_tm_news">
					<div class="iknow_tm_main_title">
						<span>وبلاگ</span>
						<h3>آخرین آموزش های من</h3>
					</div>
					<div class="news_list">
						<ul>
							<li>
								<div class="list_inner">
									<div class="image">
										<img src="{% static 'img/thumbs/37-27.jpg' %}" alt="" />
										<div class="main" data-img-url="{% static 'img/news/1.jpg' %}"></div>
										<a class="iknow_tm_full_link" href="#"></a>
									</div>
									<div class="details">
										<span class="category"><a href="#">طراحی وب</a></span>
										<h3 class="title"><a href="#">نحوه ایجاد یک وب سایت با استفاده از وردپرس</a></h3>
									</div>

									<div class="hidden_content">
										<div class="news_informations">
											<div class="text">
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
											</div>
										</div>
									</div>

								</div>
							</li>
							<li>
								<div class="list_inner">
									<div class="image">
										<img src="{% static 'img/thumbs/37-27.jpg' %}" alt="" />
										<div class="main" data-img-url="{% static 'img/news/2.jpg' %}"></div>
										<a class="iknow_tm_full_link" href="#"></a>
									</div>
									<div class="details">
										<span class="category"><a href="#">برند</a></span>
										<h3 class="title"><a href="#">تیم Angular درخواست ها را ساده می کند</a></h3>
									</div>
									
									<div class="hidden_content">
										<div class="news_informations">
											<div class="text">
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
											</div>
										</div>
									</div>
									
								</div>
							</li>
							<li>
								<div class="list_inner">
									<div class="image">
										<img src="{% static 'img/thumbs/37-27.jpg' %}" alt="" />
										<div class="main" data-img-url="{% static 'img/news/3.jpg' %}"></div>
										<a class="iknow_tm_full_link" href="#"></a>
									</div>
									<div class="details">
										<span class="category"><a href="#">گرافیک</a></span>
										<h3 class="title"><a href="#">نحوه مدیریت خطاها در React Javascript</a></h3>
									</div>
									
									<div class="hidden_content">
										<div class="news_informations">
											<div class="text">
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
											</div>
										</div>
									</div>
									
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /NEWS -->
			
			<!-- CONTACT -->
			<div id="contact" class="iknow_tm_main_section">
				<div class="iknow_tm_contact">
					<div class="iknow_tm_main_title">
						<span>تماس با من</span>
						<h3>برای انجام کار با من تماس بگیرید</h3>
					</div>
					<div class="wrapper">
						<div class="left">
							<ul>
								<li>
									<div class="list_inner">
										<span class="icon"><img class="svg" src="{% static 'img/svg/smartphone.svg' %}" alt="" /></span>
										<div class="short">
											<h3>تماس</h3>
											<span>{{ persons.phone }}</span>
										</div>
									</div>
								</li>
								<li>
									<div class="list_inner">
										<span class="icon"><img class="svg" src="{% static 'img/svg/letter.svg' %}" alt="" /></span>
										<div class="short">
											<h3>ایمیل</h3>
											<span><a href="mailto:{{ persons.email }}">{{ persons.email }}</a></span>
										</div>
									</div>
								</li>
								<li>
									<div class="list_inner">
										<span class="icon"><img class="svg" src="{% static 'img/svg/placeholder.svg' %}" alt="" /></span>
										<div class="short">
											<h3>آدرس</h3>
											<span>{{ persons.address }}</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="right">
							<div class="fields">
								<form action="" method="post">
                                    {% csrf_token %}
									<div class="returnmessage" data-success="پیام شما دریافت شد، به زودی با شما تماس خواهیم گرفت."></div>
									<div class="empty_notice"><span>لطفا فیلدهای مورد نیاز را پر کنید</span></div>
									<div class="input_list">
										<ul>
											<li><input name="name" id="name" type="text" placeholder="نام شما" /></li>
											<li><input name="email" id="email" type="email" placeholder="ایمیل شما" /></li>
											<li><input name="phone" id="phone" type="number" placeholder="تلفن شما" /></li>
											<li><input name="subject" id="subject" type="text" placeholder="موضوع" /></li>
										</ul>
									</div>
									<div class="message_area">
										<textarea name="message" id="message" placeholder="پیام شما"></textarea>
									</div>
									<div class="iknow_tm_button">
										<button type="submit">ارسال</button>
									</div>
									<!-- If you want change mail address to yours, just open "modal" folder >> contact.php and go to line 4 and change detail to yours.  -->
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /CONTACT -->

		</div>
	</div>
	<!-- /MAINPART -->

	<!-- COPYRIGHT -->
	<div class="iknow_tm_copyright hidden">
		<div class="container">

		</div>
	</div>
	<!-- /COPYRIGHT -->
	
	<!-- MAGIC CURSOR -->
	<div class="mouse-cursor cursor-outer"></div>
	<div class="mouse-cursor cursor-inner"></div>
	<!-- /MAGIC CURSOR -->
	
</div>
<!-- / WRAPPER ALL -->
	
<!-- SCRIPTS -->
<script src="{% static 'js/jquery.js' %}"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="{% static 'js/ie8.js' %}"></script> <![endif]-->
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<!-- /SCRIPTS -->

</body>
</html>